body {
  font-size: 1.1em;
  background-color: #F6F8F9;
}
h1{
	color:#a7a7a7;
	font-size:18px;
	padding:0px;
}
h2{
	color:#000000;
	font-size:16px;
	padding:0px;
}
h3{
	color:#000000;
	font-size:14px;
	padding:0px;
}
h4{
	color:#000000;
	font-size:14px;
	padding:0px;
}
h5{
	color:#000000;
	font-size:12px;
	padding:0px;
}
h6{
	color:#000000;
	font-size:11px;
	padding:0px;
}
h7{
	color:#808080;
	font-size:11px;
	padding:0px;
}
.container{
	margin:1;
	width: 850px;
}
.radio{
	margin:1;
}
.wrapper{
	margin:0;
	text-align: left;
	min-height: 220px;
	vertical-align: top;
}
#myButton {
width: 90px;
height: 20px;
background: url(defaultstate.png);
}

#myButton:hover {
background: url(overstate.png);
}

#myButton:active {
background: url(downstate.png);
}

.actions, .chart 
{    margin: 15px auto;
    width: 34px;
}
button {
    background: none repeat scroll 0 0 #E3E3E3;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #F6F6F6 inset;
    color: #333333;
    font: bold 12px;
    margin: 0 5px;
    padding: 8px 0 9px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 150px;
}
button:hover {
    background: none repeat scroll 0 0 #D9D9D9;
    box-shadow: 0 0 1px 1px #EAEAEA inset;
    color: #222222;
    cursor: pointer;
}
button:active {
    background: none repeat scroll 0 0 #D0D0D0;
    box-shadow: 0 0 1px 1px #E3E3E3 inset;
    color: #000000;
}
#poster-container {
    text-align: center;
}

@media (min-width: 981px) { body { padding-top: 60px; } } 
