<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
               "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=500, initial-scale=1">

<title>Movie Poll!</title>

<style type="text/css">
    .box{
        padding: 20px;
        display: none;
        margin-top: 20px;
        border: 1px solid #000;
    }
    .containerdiv { float: left; position: relative; } 
    .cornerimage { position: absolute; top: 0; left: 0; } 
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="./static/bootstrap.min.css"></style>
  <link rel="stylesheet" href="./static/style.css"></style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <script type="text/javascript">
    $(document).ready(function(){
      {% for row in results %}
        $('#{{row[10]}}').click(function () {
          $("#checked{{row[10]}}").toggle(this.checked);
        });
      {% endfor %}
      $("input:checkbox").change(function() {
        var someObj = {};
        someObj.voted = [];
        someObj.unvoted = [];

        $("input:checkbox").each(function() {
            if ($(this).is(":checked")) {
                someObj.voted.push($(this).attr("id"));
            } else {
                someObj.unvoted.push($(this).attr("id"));
            }
        });
        console.log(someObj.voted)
        console.log(someObj.unvoted)
      });
    });
  </script>
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="width: 70%;">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div><!-- /navbar-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-form navbar-left" style="margin: 0px; width: 100%;">
          <ul class="nav navbar-nav" style="margin: 0px; width: 100%;">
            <li class="active"><a href="#">Movies</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/watched">Watched</a></li>
            <li><a href="/stats">Stats</a></li>

            <div class="navbar-form navbar-right">
            {% if user %}
              <p style="vertical-align: top">Signed in as {{user}}</p>
              <!--<p><form action="/clear_sessions"><input type="submit" value="Click to Logout"></p>-->
            {% endif %}
            </div>

            <form class="navbar-form navbar-right">
              <div class="form-group">
                <button id="update_button" type="submit" class="btn btn-small btn-success" onclick="document.checkbox_vote.submit();return false;"><i class="fa fa-check"></i> Update Selection
                </button>
              </div>
            </form>

            <form class="navbar-form navbar-right" action="/addnew" method="POST" role="search">
              <div class="form-group">
                <input type="text" class="form-control" name="addmovie" style="float: left; width: 70%" placeholder="Add New Movie">
              <button type="submit" class="btn btn-default btn-primary" style="width: 15%"><i class="fa fa-search"></i>
              </button></div>
            </form>

          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container" style="width: 65%;">
    </br>
      <form name="checkbox_vote" action="/results" method="POST">
      {% for row in results %}
        <div style="float: left; width: 340px; margin: 1px;">
          <div id="wrapper" style="float: left;">

            <div style="float: left; width: 160px;">
              <label for="{{row[10]}}">
                <div class="containerdiv">
                  {% if row[11] == 1 %}
                  <input id="{{row[10]}}" type="checkbox" name="checkbox_movie" value="{{row[10]}}" style="display: none;" checked/>
                  {% else %}
                  <input id="{{row[10]}}" type="checkbox" name="checkbox_movie" value="{{row[10]}}" style="display: none;"/>
                  {% endif %}
                  <img class="posterimg" src="{{row[9]}}" style="-webkit-box-shadow: 3px 3px 3px #7C7C7C; box-shadow: 3px 3px 3px #7C7C7C;" border="0" width="150" height="240" alt="{{row[0]}} Poster" title="{{row[0]}}" />
                  {% if row[11] %}
                  <div id="checked{{row[10]}}">
                  {% else %}
                  <div id="checked{{row[10]}}" style="display: none;">
                  {% endif %}
                    <img class="cornerimage" border="0" src="http://www.greenrevolutionems.com/wp-content/uploads/2013/04/check-mark-11-512-300x300.png" alt="" width="75" height="75">
                  </div>
                </div>
              </label>
            </div>

            <div style="float: left; width: 160px;">
              <h2 style="margin: 0px;">{{row[0]}}</h2>
              <h6>{{row[7]}}, Rated: {{row[5]}}</h6>
              <h7>IMDB Rating: {{row[4]}}</h7>
              </br>
              <h7>Genres: {{row[6]}}</h7>
              </br></br>
              <h7>{{row[3]}}</h7>
            </div>   

          </div>
        </div>
      {% endfor %}
    </form>
  </div>

  <p></br></p>
  <p></br></p>
  <p></br></p>

  <script src="./static/jquery-1.11.1.min.js"></script>
  <script src="./static/bootstrap.min.js"></script>

</body>
</html>