<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
               "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Movie Poll!</title>
 <link rel="stylesheet" href="./static/bootstrap.min.css"></style>
  <link rel="stylesheet" href="./static/style.css"></style>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div class="container">
    <h1 style="font-family:verdana;">Movie Poll</h1>
  </div>


{% if user %}
<div class="container">
  <p>{{user}}</p>
  <p>{{user.data}}</p>
</div>
{% endif %}


<div class="container">
{% if results %}
 <form action="/results" method="POST">
 	<span class="input-group-addon">Movie Choices</span>
    <fieldset>
        {% for row in results %}
            <input type="radio" name="movie" value="{{row[0]}}" /> {{row[0]}} <br/>
        {% endfor %}
    </fieldset>
  <input type="submit" value="Vote!"/> 
 </form>
 </br>
 </br>
 <form action="/results" method="POST">
    Add New Movie Option: <input type="text" name="movie">
	<input type="submit" value="Add!">
  </form>
{% else %}
  <form action="/results" method="POST">
    Add New Movie Option: <input type="text" name="movie">
	<input type="submit" value="Add!">
  </form>
{% endif %}
</div>

<p></br></p>
<p></br></p>
<p></br></p>

  <script src="./static/jquery-1.11.1.min.js"></script>
  <script src="./static/bootstrap.min.js"></script>

</body></html>