<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
               "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Movie Poll!</title>
</head>
<body>
<h3 style="font-family:verdana;">Movie Poll</h3>

{% if results %}

 <form action="/results" method="POST">
    <fieldset>
        <label>Movie Choices</label><br />
        {% for row in results %}
            <input type="radio" name="movie" value="{{row[0]}}" /> {{row[0]}} <br/>
        {% endfor %}
    </fieldset>
  <input type="submit" value="Vote!"/> 
 </form>
 </br>
 </br>
 <form action="/results" method="POST">
    Add New Movie Option: <input type="text" name="movie">
	<input type="submit" value="Add!">
  </form>
{% else %}
  <form action="/results" method="POST">
    Add New Movie Option: <input type="text" name="movie">
	<input type="submit" value="Add!">
  </form>
{% endif %}

<p></br></p>
<p></br></p>
<p></br></p>

</body></html>